<%= form_with(model: prescription) do |form| %>
  <% if prescription.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(prescription.errors.count, "error") %> prohibited this prescription from being saved:</h2>

      <ul>
        <% prescription.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :prescription, style: "display: block" %>
    <%= form.text_area :prescription %>
  </div>

  
  <div class="field">    
    <%= form.label :Doctor_id %>
    <%= form.collection_select :doctor_id, User.all.where(role: "Doctor", id: current_user.id), :id, :username%><br>
  </div>
   

  <div class="field">    
    <%= form.label :patient_id %>
    <%= form.collection_select :patient_id, User.all.where(role: "Patient"), :id, :username%><br>
  </div>
  

  <div class="field">    
    <%= form.label :Appointment_id %>
    <%= form.collection_select :appointment_id, Appointment.all.where(status: "Active"), :id, :appointment_date%><br>
  </div>   

  <div>
    <%= form.submit %>
  </div>
<% end %>
