<div id="<%= dom_id prescription %>">
  <p>
    <strong>Prescription:</strong>
    <%= prescription.prescription %>
  </p>

  <p>
    <strong>Appointment:</strong>
    <%= prescription.appointment_id %>
  </p>

  <p>
    <strong>Doctor:</strong>
    <%= prescription.doctor_id %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= prescription.patient_id %>
  </p>

</div>
