<div id="<%= dom_id prescription %>">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
       
        <th scope="col">Appointment_id</th>
        <th scope="col">Doctor_id</th>
        <th scope="col">Patient_id</th>
         <th scope="col">Prescription</th>
      </tr>
    </thead>
    <tbody>
    
      <tr>
        <th scope="row"><%= prescription.id %></th>
        
        <td><%= prescription.appointment_id %></td>
        <td><%= prescription.doctor_id%></td>
        <td><%= prescription.patient_id %></td>
        <td><%= prescription.prescription %></td>
      </tr>
       
    </tbody>
  </table>

</div>

