<p style="color: green"><%= notice %></p>

<%= render @prescription %>

<div>
  <%= link_to "Edit this prescription", edit_appointment_prescription_path(@appointment, @prescription) %> |
  <%= link_to "Back to prescriptions", appointment_prescriptions_path %>

  <%= button_to "Destroy this prescription", appointment_prescription_path(@appointment, @prescription), method: :delete %>
</div>
