<div id="<%= dom_id department %>">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Logo</th>
        <th scope="col">Active</th>
        <th scope="col">Hospital_ID</th>
      </tr>
    </thead>
    <tbody>
    
      <tr>
        <th scope="row"><%= department.name %></th>
        <td><%= department.description %></td>
        <td><%= department.logo %></td>
        <td><%= department.active %></td>
        <td><%= department.hospital_id %></td>
        
        <td><%= link_to 'User List', department_users_path(department), class: 'btn btn-primary'%></td>
      </tr>
       
    </tbody>
  </table>
</div>
