<div id="<%= dom_id department %>">
  <p>
    <strong>Name:</strong>
    <%= department.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= department.description %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= department.logo %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= department.active %>
  </p>

</div>
