<p style="color: green"><%= notice %></p>

<%= render @department %>

<div>
  <%= link_to "Edit this department", edit_hospital_department_path(@hospital, @department) %> |
  <%= link_to "Back to departments", hospital_departments_path %>

  <%= button_to "Destroy this department", hospital_department_path(@hospital, @department), method: :delete %>
</div>
