<% if @hospitals.blank? %>
  <p>There are not any hospitals currently in the system.</p>
<% else %>
  <h1>Hospital Information</h1>
  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">HospitalName</th>
      <th scope="col">Description</th>
      <th scope="col">Address</th>
      <th scope="col">Specialization</th>
      <th scope="col">Logo</th>
    </tr>
  </thead>
  <tbody>
    <% @hospitals.each do |hospital| %>
    <% if current_user.hospital_id==hospital.id %>
      <tr>
      <th scope="row"><%= hospital.name %></th>
        <td><%= hospital.description %></td>
        <td><%= hospital.address %></td>
        <td><%= hospital.specialization %></td>
        <td><%= hospital.logo %></td>
         <td><%= link_to 'show', hospital_departments_path(hospital),  class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
     <% end %>
  </table>
  <% end %>