<div id="<%= dom_id appointment %>">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">doctor_id</th>
        <th scope="col">patient_id</th>
        <th scope="col">time_slot_id</th>
         <th scope="col">hospital_id</th>
        <th scope="col">appointment_date</th>
        <th scope="col">status</th>
        
        <th scope="col">description</th>
        
         
       
      </tr>
    </thead>
    <tbody>
    
      <tr>
        <th scope="row"><%= appointment.id %></th>
        <td><%= appointment.doctor_id %></td>
        <td><%= appointment.patient_id %></td>
        <td><%= appointment.time_slot_id %></td>
         <td><%= appointment.hospital_id %></td>
        <td><%= appointment.appointment_date %></td>
        <td><%= appointment.status %> | <%= link_to 'Update', mark_as_completed_path(appointment.id), method: :put, class: 'btn btn-primary' %>
        
        <td><%= appointment.description %></td>
        <td><%= link_to 'Show Prescription', appointment_prescriptions_path(appointment) , class: 'btn btn-primary' %><td>
       
      </tr>
       
    </tbody>
  </table>
</div>
