<div id="<%= dom_id appointment %>">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">doctor_id</th>
        <th scope="col">patient_id</th>
        <th scope="col">time_slot_id</th>
         <th scope="col">hospital_id</th>
        <th scope="col">appointment_date</th>
        <th scope="col">status</th>
        
        <th scope="col">description</th>
       
      </tr>
    </thead>
    <tbody>
    
      <tr>
        <th scope="row"><%= appointment.id %></th>
        <td><%= appointment.doctor_id %></td>
        <td><%= appointment.patient_id %></td>
        <td><%= appointment.time_slot_id %></td>
         <td><%= appointment.hospital_id %></td>
        <td><%= appointment.appointment_date %></td>
        <td><%= appointment.status %></td>
        
        <td><%= appointment.description %></td>
       
      </tr>
       
    </tbody>
  </table>
</div>
