<div id="<%= dom_id appointment %>">
  <p>
    <strong>Doctor:</strong>
    <%= appointment.doctor_id %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= appointment.patient_id %>
  </p>

  <p>
    <strong>Appointment date:</strong>
    <%= appointment.appointment_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= appointment.status %>
  </p>

  <p>
    <strong>Slot:</strong>
    <%= appointment.slot_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= appointment.description %>
  </p>

  <p>
    <strong>Hospital:</strong>
    <%= appointment.hospital_id %>
  </p>

</div>
