<%= form_with(model: appointment) do |form| %>
  <% if appointment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    
  <div class="field">    
    <%= form.label :Doctor_id %>
    <%= form.collection_select :doctor_id, User.all.where(role: "Doctor"), :id, :username%><br>
  </div>

  <div class="field">    
    <%= form.label :patient_id %>
    <%= form.collection_select :patient_id, User.all.where(role: "Patient"), :id, :username%><br>
  </div>

  <div>
    <%= form.label :appointment_date, style: "display: block" %>
    <%= form.datetime_field :appointment_date %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.label :time_slot_id, style: "display: block" %>
    <%= form.collection_select :time_slot_id, TimeSlot.all, :id, :start_at%><br>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div class="field">    
    <%= form.label :Hospital_id %>
    <%= form.collection_select :Hospital_id, Hospital.all, :id, :name%><br>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
